@import "/src/styles/colors.scss";
@import "~antd/dist/antd.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("/assets/background.jpeg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff !important;
}

.header {
  height: 10vh;
  padding: 1em 1em;
  background-color: transparent;
}

.heading {
  color: $primary-color !important;

  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.5rem;
  margin: 0 0.3em;
}

.header-list {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;

  li {
    margin: 0 1.5em;
    color: #000;
    transition: all 0.3s ease;

    &:hover {
      color: lighten(#000, 15%);
    }
  }
}

.user-logo {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-child {
  font-size: 1.1rem;
  cursor: pointer;
}

/*
=====
UTILS
=====
*/

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.spinner-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    color: #fff;
    font-size: 3rem;
  }
}

.mt-1 {
  margin-top: 1em;
}

/*
=======
PROFILE
=======
*/

.profile {
  width: 55%;
  margin: 3em auto 0;
  padding-bottom: 4em;

  &__new-button {
    display: inline;
    margin-bottom: 2em;
  }
}

/*
=======
EXPLORE
=======
*/

.explore {
  width: 55%;
  margin: 3em auto 0;
  padding-bottom: 4em;
}

/*
=======
MY BOOK
=======
*/

.my-book {
  width: 55%;
  margin: 0 auto;
  padding-bottom: 4em;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
  }

  &__title {
    color: #fff;
    text-align: center;
    margin-bottom: 2em;
    font-size: 2rem;
  }

  &__chapters {
    h3,
    p {
      color: #fff;
    }
  }

  &__buy {
    display: flex;
    align-items: center;

    h4 {
      color: #fff;
      margin-left: 0.5em;
      font-size: 1.1rem;
      margin-bottom: 0;
    }
  }

  &__collapse {
    margin-top: 2.5em !important;
  }

  &__no-chapters {
    h3 {
      font-size: 1.5rem;
      color: #fff;
      text-align: center;
      margin-top: 1em;
    }
  }
}

/*
==========
ANT DESIGN
==========
*/

.ant-page-header {
  background-color: transparent;
}

.ant-page-header-heading {
  display: flex;
  justify-content: space-between;
}

.ant-avatar {
  img {
    height: 30px;
    object-fit: cover;
  }
}

.ant-page-header-heading-left {
  display: flex;
  align-items: center;
}

.ant-page-header-heading-sub-title {
  margin-top: 0.3em;
  color: $primary-color;
}

.ant-notification-notice-description {
  margin-bottom: 0.5em;
}

.ant-notification-notice-btn {
  float: none !important;
  margin-left: 48px !important;
}

.ant-spin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ant-spin-dot {
  font-size: 45px !important;
  margin-bottom: 3em !important;
}

.spin-wrapper {
  span {
    margin-bottom: 0.3em !important;
    font-size: 40px !important;
  }
}

.ant-spin-dot-item {
  background-color: #fff !important;
  width: 18px !important;
  height: 18px !important;
}

.ant-result {
  margin-top: 4em !important;
}

.ant-result-title {
  color: $secondary-color !important;
  font-size: 1.8rem !important;
  font-weight: 300;
}

.ant-result-subtitle {
  color: $secondary-color !important;
  font-size: 1.2rem !important;
  font-weight: 300;
}

.ant-result-extra {
  display: flex !important;
  justify-content: center;
  margin-top: 2em !important;

  button {
    padding: 1.2em 0.7em !important;
    cursor: pointer;
    border: 2px solid $secondary-color;
    background-color: transparent !important;
    transition: all 0.3s ease !important;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $secondary-color !important;
      font-size: 1.1rem !important;

      transition: all 0.3s ease !important;

      &:hover {
        color: #fff !important;
      }
    }

    &:hover {
      background-color: $secondary-color !important;
    }
  }
}

/*
====
HERO
====
*/

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4em;

  &__text {
    width: 25vw;
    padding-bottom: 7em;
    margin-left: 7em;
  }

  &__image {
    height: 75vh;
    margin-right: -1em;
    border-radius: 10px;
    box-shadow: 0 0 30px #000;

    object-fit: cover;
    width: 550px;
  }

  &__title {
    color: #fff !important;
    font-weight: 400 !important;
  }

  &__para {
    color: hsl(0, 0%, 65%);
    font-weight: 400;
    font-size: 0.95rem;
    width: 90%;
    margin: 1.5em 0;
  }

  &__button {
    padding: 0.7em 2em;
    font-size: 1.05rem;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    margin-top: 0.5em;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__button-explore {
    margin-right: 1em;
    background-color: $primary-color !important;
  }

  &__button-write {
    color: #000 !important;
    background-color: #fff !important;
  }

  &__button-disabled {
    border: 2px solid lighten(#000, 50%) !important;
    color: lighten(#000, 50%) !important;
    background-color: transparent !important;

    &:hover {
      background-color: transparent !important;
      color: lighten(#000, 50%) !important;
    }
  }
}

/*
===
NAV
===
*/

.connect-btn {
  background: transparent !important;
  color: $primary-color !important;
  border: 2px solid $primary-color !important;
  border-radius: 7px !important;
  font-size: 1.2rem !important;
  display: flex !important;
  align-items: center !important;
}

.connect-btn-disabled {
  color: lighten($primary-color, 15%) !important;
  border: 2px solid lighten($primary-color, 15%) !important;
}

.explore-btn,
.profile-btn {
  color: $primary-color !important;
  background: transparent !important;
  border-radius: 7px;
  border: none !important;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  transition: all 0.3s ease;

  &:hover {
    color: lighten($primary-color, 20%) !important;
  }
}
