@import "/src/styles/colors.scss";

.header {
  height: 10vh;
  padding: 1em 1em;
  background-color: transparent;
}

.heading {
  color: $secondary-color;
  font-weight: 300;
  letter-spacing: 1px;
}

.headerList {
  display: flex;
  align-items: center;
  list-style: none;
  height: 100%;
  margin-bottom: 0;

  li {
    margin: 0 1.5em;
    color: $secondary-color;
    transition: all 0.3s ease;

    &:hover {
      color: lighten($secondary-color, 15%);
    }
  }
}

.userLogo {
  font-size: 1.5rem;
  cursor: pointer;
}

.navChild {
  font-size: 1.1rem;
  cursor: pointer;
}

.connectWallet {
  color: $secondary-color !important;
  padding: 1em 0.7em !important;
  font-size: 1.1rem !important;
  cursor: pointer;
  border: 2px solid $secondary-color;
  background-color: transparent !important;
  transition: all 0.3s ease;
  border-radius: 5px;
  &:hover {
    background-color: $secondary-color !important;
    color: #fff !important;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalButtonContainer {
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}

.importWalletButton,
.generateWalletButton {
  font-size: 1rem !important;
  background-color: $secondary-color;
  margin: 0.25em 0 !important;
}
